@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
    margin: 0;
    padding: 0;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
}

h1 {
    font-size: 18px;
    font-weight: 700;
    padding: 0px 15px;
}

p {
    font-size: 13px;
    font-weight: 400;
    padding: 0px 18px 15px 18px;
    color: hsl(220, 15%, 55%);
}

.flex_Box_Container {
    padding: 12% 16%;
    display: flex;
    justify-content: center;
}

.image {
    padding: 15px 15px;
    border-radius: 25px;
    width: 230px;
    height: auto;
}

.box {
    display: block;
    border-radius: 18px;
    text-align: center;
    width: 265px;
    height: auto;
    background-color: hsl(0, 0%, 100%);
}
